# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
static_root/
.env

# Environments
venv/
env/node_modules/
node_modules/
db_backup*.json
wallet_backup.json
wallet_transactions.json
staticfiles/
users_data.json
nginx_scentora.conf
users_data.json
