<div id="heart-container-detail-{{ product.id }}">
        <button
        type="button"
        hx-post="{% url 'cart:wishlist_toggle' variant.id %}"
hx-target="#heart-container-detail-{{ product.id }}"
        hx-swap="outerHTML"
        class="premium-wishlist-btn relative w-[170px] h-[60px] rounded-2xl border transition-all duration-700 overflow-hidden group
        {% if is_in_wishlist %}border-primary/40 bg-[#222]{% else %}border-white/5 bg-[#1a1a1a]{% endif %}"
    >

        <div class="relative w-full h-full flex items-center justify-center gap-2">

            {% if is_in_wishlist %}
                <span class="material-symbols-outlined text-primary text-[20px]">
                    favorite
                </span>
                <span class="text-[9px] font-black uppercase tracking-[0.2em] text-primary">
                    In Vault
                </span>
            {% else %}
                <span class="material-symbols-outlined text-slate-600 text-[20px]">
                    favorite_border
                </span>
                <span class="text-[9px] font-black uppercase tracking-[0.2em] text-slate-600">
                    Wishlist
                </span>
            {% endif %}

        </div>
    </button>
</div>